# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.env
 ../.env
../.idea/
../__pycache__/
__pycache__/
database/__pycache__/
models/__pycache__/
routers/__pycache__/
../tests/__pycache__/
